.main-website {
  display: grid;
  grid-template-columns: 1fr; 
    width: 100%; /* Adjust width to 100% to make it responsive */
    max-width: 1220px; /* Limit maximum width */
    margin: 0 auto; /* Center the grid horizontally */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .first-website-row{
    display: grid;
   grid-template-columns: 1fr 1fr; 
  }
  .website-section {
    width: calc(100%); 
    box-sizing: border-box;
    padding: 20px;
  }
  .website-img-section{
    margin-left: 100px;
    margin-top: 30px;
  }
  
  .website-img-section img {
    width: calc(60%-20px); 
    height: 325px;
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    margin: 20px;
    padding: 20px;
    /* border-left: 15px solid rgb(0, 113, 128); */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    /* border-radius: 50% 50% 70% 70% / 100% 100% 0% 70%;  */
    /* border-radius: 50%;  */
    }
    @media screen and (max-width:768px) {
      .website-img-section{
        margin-left: 0px;
        margin-top: 0px;
      }
        .main-website {
          grid-template-columns: 1fr;
            margin: 0px;
            justify-content: space-between;
        }
        .first-website-row {
          grid-template-columns: 1fr;
          margin-right: 20px;
         }
          .website-section {
            width: calc(100%); 
          }

          .website-img-section img {
           height: 280px;
            }

          .first-website-row:nth-child(even) .website-section {
            order: 1; /* Content first in odd rows */
             }
        .first-website-row:nth-child(even) .website-img-section {
            order: 2; /* Image first in even rows */
          }
    }
    @media screen and (min-width:769px) and (max-width:1080px) {
        .main-website {
            margin: 0px;
            justify-content: space-between;
            width: 95%;
            margin-left: 20px;
            margin-right: 20px;
          }
          .website-img-section{
            margin-left: 0px;
            margin-top: 0px;
          }
          .website-img-section img {
            margin-top: 60px;
            }
      }
   
  